.pergunta{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2em 2em 0 2em ;
}

.pergunta__texto{
    text-align: center;
    color: var(--white);
    font-size: 22px;
    margin-bottom: 1em;
}

.pergunta__imagem{
    width: 100%;
    height: 100%;
}

